html, body {
    margin:0;
    overflow: hidden;
    background-color: #1E4263;
    height: 100vh;
    width: 100vw;
    color: white;
}

.Container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 85px 100%;
    
}

#Navbar {
    margin:0;
    width: 100vw;
    width: 100vw;
    height: 85px;
    background-color: transparent;
    justify-items: right;
}

#logo {
    background-color: #E7F498;
    width: 85px;
    height: 85px;
    position: absolute;
}

.navbutton {
    float: right;
    font-size: 18px;
    text-align: center;
    background-color: transparent; 
    margin-left: 0px;
    margin-right: 0px;
    height: 85px;
    width: 170px;
    line-height: 85px;
}

#Main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 65vw 35vw;
    /* background-color: hotpink; */
}

#Content {
    width: 65vw;
    height: 100vh;
    /* background-color: indianred; */
}

#search {
    width: 300px;
    height: 20px;
    position: absolute;
    margin-top: 100px;
    margin-left: 250px;
    border: 5px solid #99BEF7;
    border-radius: 5px 5px 5px 5px;
}

#search_button {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-top: 100px;
    margin-left: 550px;
    background-color: #99BEF6;
    border: 6px solid #99BEF7;
    border-radius: 5px 5px 5px 5px;
}

#cont {
    width: 725px;
    height: 200px;
    margin-top: 150px;
    margin-left: 75px;
    border-color: black;
    border-style: dashed;
    position: absolute;
}

#image {
    width: 725px;
    height: 200px;
    margin-top: 400px;
    margin-left: 75px;
    border-color: black;
    border-style: dashed;
    position: absolute;
}

#Circle {
    width: 35vw;
    height: auto;
    /* background-color: lawngreen; */
}

#GreyCircle {
    background-color: grey;
    margin-top: 90px;
    margin-left: 210px;
    padding: 0;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    overflow: hidden;
    position:absolute;
    z-index: 1;
}
/* https://stackoverflow.com/questions/14184494/segments-in-a-circle-using-css3/14185845 */
#circWrapper {
    position: absolute;
    padding: 0;
    margin-top: 90px;
    margin-left: 210px;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
    z-index: 2;
  }

.circ {
    left: -100%;
    width: 200%;
    height: 200%;
    position:absolute;
    z-index: 2;
}

li {
    overflow: hidden;
    position: absolute;
    top: -50%;
    right: -50%;
    width: 100%;
    height: 100%;
    transform-origin: 0% 100%;
}

li:first-child {
    transform: rotate(-108deg) skewY(126deg);
}

li:nth-child(2) {
    transform: rotate(-72deg) skewY(126deg);
}

li:nth-child(3) {
    transform: rotate(-36deg) skewY(126deg);
}

li:nth-child(4) {
    transform: rotate(0deg) skewY(126deg);
}

li:nth-child(5) {
    transform: rotate(36deg) skewY(126deg);
}

li:nth-child(6) {
    transform: rotate(72deg) skewY(126deg);
}

li:nth-child(7) {
    transform: rotate(108deg) skewY(126deg);
}

li:nth-child(8) {
    transform: rotate(144deg) skewY(126deg);
}

li:nth-child(9) {
    transform: rotate(180deg) skewY(126deg);
}

li:nth-child(10) {
    transform: rotate(216deg) skewY(126deg);
}


li:first-child .circ {
    background: #E7F498;
}

li:nth-child(2) .circ {
    background: #99BEF6;
  }
  
  li:nth-child(3) .circ {
    background: #85D983;
  }
  
  li:nth-child(4) .circ {
    background: #5E68C9;
  }
  
  li:nth-child(5) .circ {
    background: #6AD3E1;
  }

  li:nth-child(6) .circ {
    background: #E7F498;
  }

  li:nth-child(7) .circ {
    background: #99BEF6;
}
    
li:nth-child(8) .circ {
    background: #85D983;
}

li:nth-child(9) .circ {
    background: #5E68C9;
}

li:nth-child(10) .circ {
    background: #6AD3E1;
}

#CenterCircle {
    height: 450px;
    margin-top: 90px;
    margin-left: 210px;
    width: 450px;
    background-color: #1E4263;
    border-radius: 50%;
    position:absolute;
    z-index: 1000;
    transform: translateY(50px) translateX(50px);
}
#PageText {
    position: absolute;
    margin-top: 325px;
    margin-left: 375px;
    transform: rotate(-90deg);
    z-index: 1001;
    color: #E7F498;
}